<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Memory</title>

        <script src="build/memory.js"></script>
   </head>

    <body>
        <div class="container">
            <h1>MEMORY GAME</h1>
            <div class="game-wrapper">
                <button type="button" class="btn btn-primary js-start">Lancer une nouvelle partie !</button>
                <div class="cards-board">
                    <div class="best-times-wrapper">
                        <h2>MEILLEURS TEMPS</h2>
                        <table class="best-times">
                            {% for game in games %}
                                <tr>
                                    <td>{{ loop.index }} - </td>
                                    <td>{{ game.duration }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>Aucun score enregistré</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <div class="timer-wrapper">
                    <div class="timer">
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
